<div class="jumbotron center">
  <h1>編みログ</h1>
  <h2>knitting info sharing app!</h2>
  <p><%= link_to "会員登録", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
        <div class="col-lg-4">
          <h2>作品をさがす</h2>
          <p>みんなと作品の情報を共有できます</p>
          <p><%= link_to "詳細を見る", recipes_path, class: "btn btn-primary btn-xlarge" %></p>
        </div>
        <div class="col-lg-4">
          <h2>素材をさがす</h2>
          <p>使いたい素材から作品を選べます</p>
          <p><%= link_to "詳細を見る", ingredients_path, class: "btn btn-primary btn-xlarge" %></p>
        </div>
        <div class="col-lg-4">
          <h2>チャットをつかう</h2>
          <p>会員になれば、チャット機能が使えるようになります </p>
          <p><%= link_to "詳細を見る", signup_path, class: "btn btn-primary btn-xlarge" %></p>
        </div>
</div>
        
      

